{% extends "navbar.html" %}


{% block content %}

<div class="conatiner">
  <div class="row">
    <div class="col-md-8">
      <h4>Docter LIst</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for a in ACT_DOC %}
          <tr>
            <td>{{a.id}}</td>
            <td><a href="{% url 'doc_detail_view' a.id %}">{{a.user.first_name}}</a></td>
            <td>{{a.department}}</td>
            <td><a href="{% url 'removeDoc' a.id %}">remove</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>








    </div>
    <div class="col-md-4">
      <h4>New Docters request</h4>
      <table class="table table-striped">




        <thead>
          <tr>
            <th>Firstname</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for r in doc_req %}
          <tr>
            <td>{{r.first_name}}</td>
            <td>{{r.email}}</td>
            <td><a href="{% url 'approve_doc' r.id %}">Approve</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>





    </div>
  </div>
</div>








{% endblock content %}