<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>HMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body id="bg" class="text-white">
    <!-- <header>
        <div class="row text-end" style="background-color: #328090;color: rgb(255, 255, 255);">
            <div class="N col-9 ">feedback</div>
            <div class="N col-1 ">Contact us</div>
            <div class="N col-1 ">Need help</div>
            <div class="N col-1 "></div>
        </div>
    </header> -->
    <nav style="height: 100px;background-color: #328090;">

        <div class="row text-center " style="height: 100%;">
            <div class="sty col-md-2 p-5"><a href="{% url 'index' %}"><img src="" alt="logo"></a></div>
            <div class=" col-md-4 "></div>
            <div class="sty col-md-1 pt-5 "><a class="text-white" href="#"><span><i class="material-icons mx-1"
                            style="font-size:13px"> image</i></span>Gallery</a></div>
            <div class="sty col-md-1 pt-5 "><a class="text-white" href="#"><span></span>Events</a></div>
            <div class="sty col-md-1 pt-5 "><a class="text-white" href="{% url 'booking_panel_view' %}"><span></span>
                    News</a></div>
            <div class="sty col-md-1 pt-5 "><a class="text-white" href="{% url 'doc_self_profile' request.user.id %}"><span></span>Profile</a></div>
            <div class=" col-md-2 p-5"> <button class="btn btn-danger " style="position: absolute;right: 1%;"
                    type="button"><a style="color: white;text-decoration: none;"
                        href="{% url 'logout' %}">Logout</a></button></div>

        </div>

    </nav>
 

    {% for message in messages %}
    <p class="text-danger">{{message}}</p>
    {% endfor %}



    <div class="container p-5">

        <div class="row">


            <div class="col-6" >
                <div class="text-center pt-3 ">
                    <h2 class="text-center text-uppercase fw-bolder">bookings</h2>
                </div>
                <div class="container w-100" style="height: 100%;">
                    <div style="overflow-x: auto;">
                        <table class="table table-bordered  text-center">
                            <thead class="sticky-top bg-white">
                                <tr>
                                    <th>Name</th>
                                    <th>Blood(G)</th>
                                    <th>Date</th>
                                    <th>Symptoms</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for d,e in bookings %}
                                <tr class="text-dark fw-bold">
                                    <td>{{e.user.first_name}}</td>
                                    <td>{{e.bloodgroup}}</td>
                                    <td>{{d.date}}</td>
                                    <td>{{e.case}}</td>
                                    <td>
                                        <a href="{% url 'Doc_Remove_Patient' d.id %}">Remove</a>
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>


                    </div>













                </div>
            </div>

            <div class="col-6 ">
                <div class="text-center pt-3 float-end">

                </div>
            </div>

        </div>



    </div>
    <!-- <footer class="h-0 mt-3 w-100" >
        <div class="row text-center bg-dark">
            <p class="text-white mx-auto"><small>@copyright</small></p>
        </div>
    </footer> -->
</body>
<style>
    a {
        text-decoration: none;
    }

    #bg {
        background-size: 100%;
        background-image: url('{% static "/bg/dp.jpg" %}');
        background-repeat: repeat-x;
        background-color: #41a5e1;

    }
</style>

</html>