{% extends "navbar.html" %}



{% block content %}

<div class="container text-center justify-content-center">


    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="{% url 'loginView' %}" method="post" class="m-5">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text">Username</span>
                    <input name="username" class="form-control" type="text" placeholder="enter Username">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Password</span>
                    <input name="password" class="form-control" type="password" placeholder="password">
                </div>
                <div class="text-center">
                    {% for message in messages %}
                    <p style="color: brown;">{{message}}</p>
                    {% endfor %}
                    <button class="btn btn-info w-50" type="submit">Login</button>
                </div>
                <p>Don't have an account? <a href="{% url 'Patient_reg' %}">Register</a></p>
                <p>Register as staff <a href="{% url 'docter_reg' %}">Register</a></p>
            </form>
        </div>
        <div class="col"></div>
    </div>

</div>

{% endblock content %}